.error-icon{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: flex;
    animation: error-move 1s linear infinite ;

    @keyframes error-move {
        0% { transform: translateY(0); }
        50% { transform: translateY(-10px); }
        100% { transform: translateY(0); }
        
    }
}
.error-message{
    width: 100%;
    text-align: center;
    font-family: "regular";
    font-size: 1.5rem;
}